@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url(https://nec01as.github.io/norma1ize.css/8.e.1/norma1ize.css);

:root {
    --BDPurpleL: #503A98;
    --BDPurpleD: #30235B;
    --MinWidthScreen: 90rem;
    --LogoWidth: 8rem;
    --MinWidthNav: 16.5rem;
}

body {
    margin: 0; /* Resetting margins and paddings can help remove unexpected space */
    padding: 0;
    min-width: 100%;
    min-width: 100%;
    background-color: black;
    overflow: hidden;
}

nav {
    list-style: none;
    display: inline;
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--BDPurpleL);
    font-family: "Courier Prime", arial;
}

#total_navigation_stroke {
    height: 7rem;
    background: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
}

.logo { 
    grid-column: 1;
    justify-self: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: var(--LogoWidth);
    /*border: solid;
    border-width: 2px;
    border-color: green;*/
}

img { 
    float:left;
    width: 5rem;
    height: 5rem;
}

#fas_fa-bars{
    display: none;
}

.mid_side {
    grid-column: 2;
    justify-content: center;
    width: 38rem;
    margin-top: 2.5rem;
    /*border: solid;
    border-width: 2px;
    border-color: green;*/
}

#right_side {
    float: right;
}

.right_side {
    grid-column: 3;
    justify-self: right;
    margin-right: 1rem;
    margin-top: 2.4rem;
    width: 5.5rem;
    /*border: solid;
    border-width: 2px;
    border-color: green;*/
}

.space { 
    border-bottom-style: solid;
    border-width: 15rem;
    border-color: transparent;
    position: relative;
    pointer-events: none;
    }    

.credits {
    position: relative;
}

a:link {
    text-align: center;
    text-decoration: none;
    color: var(--BDPurpleL);
}

a:visited {
    color: var(--BDPurpleL);
}

a:hover {
    color: var(--BDPurpleD);
}

a:active {
    color: #4679BD;
}

.taal2:link {
    text-decoration: none;
}

.taal2:visited {
    color: var(--BDPurpleL);
}

.taal2:hover {
    background: transparent;
    color: transparent;
}

.taal2:active {
    background: transparent;
    color: transparent;
}

.taal1:link {
    color: transparent;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 0.2rem;
    margin-left: -2.8rem;
}

.taal1:visited {
    background: black;
    color: var(--BDPurpleL);
    font-family: "Courier Prime", arial;
    text-decoration: none;
}

.taal1:hover {
    color: var(--BDPurpleD);
    background: black;
}

.taal1:active {
    color: #4679BD;
}

@media (min-width: 90rem){
    #total_navigation_stroke {
        width: var(--MinWidthScreen);
        margin-left: calc(50vw - var(--MinWidthScreen)/2);
        margin-right: calc(50vw - var(--MinWidthScreen)/2);
    }
    .credits {
        margin-left: calc(50vw - var(--MinWidthScreen)/2);
    }
}

@media (max-width: 57rem){
    .mid_side {
        width: var(--MinWidthNav);
        margin-left: 2vw;
    }
    #mid_side{
        display: block;
        margin-left: 0;
        margin-bottom: 5rem;
    }
    #fas_fa-bars{
        display: block;
        margin-left: 0rem;
        margin-right: 0rem;
        text-align: center;
        margin-bottom: 10rem;
    }
    @media (max-width: 33rem){
        .mid_side {
            margin-left: calc((100vw - 33rem)*0.75);
            margin-right: auto;
        }
        .right_side {
            margin-left: calc((100vw - 33rem)*0.25);
            margin-right: auto;
        }
    }
}