@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url(https://nec01as.github.io/norma1ize.css/8.e.1/norma1ize.css);

:root {
    --BDPurpleL: #503A98;
    --BDPurpleD: #30235B;
}

body {
    margin: 0; /* Resetting margins and paddings can help remove unexpected space */
    padding: 0;
    min-width: 100%;
    min-width: 100%;
    background-color: transparent;
}

nav ul {
list-style: none;
}

nav li {
display: inline;
font-size: 22px;
margin-left: 20px;
font-family: Tekton Pro
}

#total_navigation_stroke {
    height: 7rem;
    background: black;
}

#logo { 
    float: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

img { 
    width: 5rem;
    height: 5rem;
}

#right_side {
    float: right;
    display: inline;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

@media (min-width: 90rem){
    #total_navigation_stroke {
        width: 90rem;
        margin-left: calc(50vw - 45rem);
        margin-right: calc(50vw - 45rem);
    }
}


a:link {
    color: var(--BDPurpleL);
    font-family: "Courier Prime", arial;
    text-decoration: none;
}

a:visited {
    color: var(--BDPurpleL);
}

a:hover {
    color: var(--BDPurpleD);
}

a:active {
    color: #4679BD;
}

.taal2:link {
    margin-left: 5rem;
    color: var(--BDPurpleL);
    font-family: "Courier Prime", arial;
    text-decoration: none;
}

.taal2:visited {
    color: var(--BDPurpleL);
}

.taal2:hover {
    background: transparent;
    color: transparent;
}

.taal2:active {
    background: transparent;
    color: transparent;
}

.taal1:link {
    color: transparent;
    font-family: "Courier Prime", arial;
    text-decoration: none;
    padding-right: 1rem;
    margin-left: -2.4rem;
}

.taal1:visited {
    background: black;
    margin-left: 5rem;
    color: var(--BDPurpleL);
    font-family: "Courier Prime", arial;
    text-decoration: none;
}

.taal1:hover {
    color: var(--BDPurpleD);
    background: black;
}

.taal1:active {
    color: #4679BD;
}
